<html lang="pt">    
    <%- include('./partials/head.ejs') %>
    
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="error">
        Ooops! Página não encontrada
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>