<html lang="pt">
    
    <%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="Sobre blog"
            <h2>Sobre nós</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odit illo vitae aliquid, enim molestiae quae quis veniam delectus dolorum dolor aliquam vel, nemo sequi! Consequuntur, itaque! Libero, maxime harum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam consequuntur deserunt quo cumque incidunt pariatur suscipit dolores corrupti enim numquam perspiciatis qui amet, voluptatibus tempora in eius magnam nihil.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam eaque iste aut, ratione labore ipsam autem cupiditate facilis eveniet similique animi nesciunt error minima doloribus vero repudiandae ducimus quisquam ip</p>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>