<html lang="pt">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="create-blog">
            <h2>Criar um novo blog</h2>
                <form action="/blogs" method="POST">
                    <label for="title">Título do Blog</label>
                    <input type="text" id="title" name="title" required>
                    <label for="snippet">Resumo do Blog</label>
                    <input type="text" id="snippet" name ="snippet" required>
                    <label for="body">Corpo do Blog:</label>
                    <textarea type="text" id="body" name="body" required></textarea>
                    <button type="submit">Postar blog</button>
                </form>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>